

body{
    margin: 0px;
    padding: 0px;
    background-color: #ECFDF5;
    font-family: "Inter";

    
}

body h1{
    font-family: "Karla";
    font-weight: 800;
    margin: 0px;
}

.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    /* border: 1px solid red; */
}


.main-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 5px;
    /* border: 1px solid black; */

}

.main-content div{
    margin-top: 20px;
}

#numbers-switch{
    border: 1px solid purple;
}

.result_text{
    /* padding: 10px 80px; */
    /* border: 1px solid blue; */
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: #273549;
    color: #10B981;
    
}







#generate-btn{
    width: 150px;
    margin: 25px 0px;
    padding: 9px 9px;
    background-color:#10B981;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}